.topo{
    height: 60%;
    
    width: 95%;
    
}

.subtopo{
    height: 40%;
    background: slateblue;
    width: 95%;
    border-top: 1px solid gray;
}

.logo{
    height: 100%;
    width: 15%;
   

}

.search{
    height: 100%;
    width: 70%;
   
   

}

.anuncio{
    height: 100%;
    width: 15%;
   margin-left: 125px;
    
}


.flex{
    display: flex;
}

.linha{
    flex-direction: row;
}

.coluna{
    flex-direction: column;
}

.centralizado-h{
    justify-content: center;
}

.centralizado-v{
    align-items: center;
}

