/*Duas Colunas*/
.col-2{
    width: 50%;
}

@media(min-width:400px){
    .col-2{
        width: 50%;
    }
}


/*Três Colunas*/
@media(min-width:728px){
    .col-3{
        width: 33.3333%;
    }
}

.col-6{
    width: 16.6666%;
}

/*Quatro Colunas*/
@media(min-width:992px){

    .col-content{
        width: 60%;
    }
    .col-aside{
        width:40%;
    }

    .col-content2{
        width: 65%;
    }
    .col-aside2{
        width: 35%;
    }
}
