.sessenta2{
    width: 65%;
   
    padding: 20px;
}

.dez{
    width: 15%;
   
    padding: 20px;
}

.dex{
    width: 20%;
    
    padding: 20px;
}



.tituloNot2{
    font-size: 13pt;
    height: auto;
}

.colun{

    height: auto;
}

.col1{
    width: 25%;
}

.ali{
 height: auto;
}

.lin{
    height: auto;
    margin-top: 30px;
}
.lin:hover{
    color: black;
    cursor: pointer;
}

/*===========================================*/
.fundo1{
    height: auto;
}

.fundo2{
    height: auto;
    background-color: rgb(199, 199, 199);
}

.logo2{
    height: 25%;
    width: auto;
}

.subtitulo5{
    font-size: 12pt;
    margin-left:35px ;
    width: auto;
}

#COPY{
        width: auto;
        height: auto;
}

.f2{
    display: inline;
    height: auto;
}