.maisLidas{
    height: auto;
   
}

.quarenta{
    width: 33%;
    height: auto;
    padding: 10px;
}

.sessenta{
    width: 67%;
    padding: 10px;
}

.tituloNot{
    font-size: 17pt;
    height: auto;
    margin-top: 15px;
}

.subtitulo3{
    height: auto;
    width: auto;
    font-size: 13pt;
    margin-top: 8px;
    color: rgb(29, 29, 29);
}

.titulo3{
    height: auto;
    width: auto;
    font-size: 12pt;
    margin-top: 12px;
    color: rgb(138, 138, 138);
}


.marg{
    padding-left: 15px;
}

.imagem2{
    width: 50%;
    height: auto;
}

.subnoticia3{
    margin-top: 20px;
    height: auto;
}
/*sessenta*/
.linhatop{
    height: 5%;
    font-size: 12pt;
}

.linhanot{
    height: auto;

}

.dias{
    orientation: right;
    padding-left:390px;
}

.divdias{
    width: auto;
    padding: 5px 15px;
    height: auto;
    color: rgb(126, 125, 125);
    
}

.divdias:hover{
    color: rgb(99, 111, 122);
}

.selec{
    background: rgb(241, 245, 248);
    border-radius: 5px;
}

.linhanot1{
    width: 50%; 
    margin-left: 15px;
}

.linhanot2{
    width: 50%;
    margin-left: 15px;
}




/*quarenta*/
.anunciamento{
    background: rgb(241, 245, 248);
    height: 100px;
    width: 100%;
    color: rgb(99, 111, 122);
    padding: 10px;
}

.img3{
    width: 35%;
    height: 80%;
}


/*Ultimas Noticias*/

.ultimasNot{
    height: auto;
}

.topz{
    margin-top: 0;
}

.subnoticia4{
    margin-top: 0;
    height: auto;
}

.pub{
    font-size: 10pt;
    color: rgb(226, 172, 85);
}

/*==========================*/

.img4{
    width: 23%;
    height: auto;
}

.subtitulo4{
    font-size: 18pt;
    height: auto;
    margin-top: 15px;
}